# EDA ASSIGNMENT QUESTIONS

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [256]:
df = pd.read_csv("car_data.csv")
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [258]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [260]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

# 1. How many rows and columns are in the dataset?

In [264]:
# Rows and columns
rows, cols = df.shape
print(f"1. Dataset contains {rows} rows and {cols} columns")

# .shape returns a tuple (rows, columns).
# df.shape

1. Dataset contains 301 rows and 9 columns

# 2. What are the data types of each column?

In [267]:
# Data types
print("\n2. Data types of each column:")
print(df.dtypes)

# .dtypes returns the data type of each column (int, float, object, etc.).
# df.dtypes

2. Data types of each column:
Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

# 3. Are there any missing values in the dataset?

In [270]:
# Missing values
print("\n3. Missing values in each column:")
print(df.isnull().sum())

# .isnull() checks for nulls; .sum() counts them column-wise.
# df.isnull().sum()

3. Missing values in each column:
Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

# 4. Are there any duplicate records?

In [273]:
# Duplicate records
print(f"\n4. Number of duplicate records: {df.duplicated().sum()}")

# .duplicated() returns True for duplicates; .sum() gives the total.
# df.duplicated().sum()

4. Number of duplicate records: 2

# 5. What are the unique values in the Fuel_Type, Seller_Type, and Transmission columns?

In [276]:
# Unique values in Fuel_Type, Seller_Type, Transmission
print("\n5. Unique values:")
print("   Fuel_Type:", df['Fuel_Type'].unique())
print("   Seller_Type:", df['Seller_Type'].unique())
print("   Transmission:", df['Transmission'].unique())

# .unique() lists all unique values in the column.
# df['Fuel_Type'].unique()

5. Unique values:
   Fuel_Type: ['Petrol' 'Diesel' 'CNG']
   Seller_Type: ['Dealer' 'Individual']
   Transmission: ['Manual' 'Automatic']

# 6. What is the average, maximum, and minimum Selling_Price?

In [279]:
# average, maximum, and minimum Selling_Price
avg_price = df['Selling_Price'].mean()
max_price = df['Selling_Price'].max()
min_price = df['Selling_Price'].min()

print(f"Average Selling_Price: ₹{avg_price:.2f} lakh")
print(f"Maximum Selling_Price: ₹{max_price:.2f} lakh")
print(f"Minimum Selling_Price: ₹{min_price:.2f} lakh")

# These methods calculate the mean, max, and min respectively.
# df['Selling_Price'].mean(), .max(), .min()

Average Selling_Price: ₹4.66 lakh
Maximum Selling_Price: ₹35.00 lakh
Minimum Selling_Price: ₹0.10 lakh

# 7. What is the average Selling_Price by Fuel_Type?

In [282]:
# Average Selling_Price by Fuel_Type
print("\n7. Avg Selling_Price by Fuel_Type:")
print(df.groupby('Fuel_Type')['Selling_Price'].mean())

# Groups data by fuel type and calculates the mean selling price.
# df.groupby('Fuel_Type')['Selling_Price'].mean()

7. Avg Selling_Price by Fuel_Type:
Fuel_Type
CNG        3.100000
Diesel    10.278500
Petrol     3.264184
Name: Selling_Price, dtype: float64

# 8. What is the average Selling_Price by Transmission type?

In [285]:
# Average Selling_Price by Transmission
print("\n8. Avg Selling_Price by Transmission:")
print(df.groupby('Transmission')['Selling_Price'].mean())

# Groups data by Transmission and calculates the mean selling price.
# df.groupby('Transmission')['Selling_Price'].mean()

8. Avg Selling_Price by Transmission:
Transmission
Automatic    9.420000
Manual       3.931992
Name: Selling_Price, dtype: float64

# 9. Which car model appears most frequently?

In [288]:
# Most frequent car model
print(f"\n9. Most frequent car model: {df['Car_Name'].mode()[0]}")

# .mode() gives most frequent value; [0] gets the top one.
# df['Car_Name'].mode()[0]

9. Most frequent car model: city

# 10. What is the average Selling_Price for each car model?

In [291]:
# Average Selling_Price by Car_Name
print("\n10. Average Selling_Price for each car model:")
print(df.groupby('Car_Name')['Selling_Price'].mean().sort_values(ascending=False))

# Calculates average price for each car model using groupby.
# df.groupby('Car_Name')['Selling_Price'].mean()

10. Average Selling_Price for each car model:
Car_Name
land cruiser           35.000000
fortuner               18.685455
innova                 12.777778
creta                  11.800000
elantra                11.600000
                         ...
Hero  CBZ Xtreme        0.200000
Hero Hunk               0.200000
Hero Super Splendor     0.200000
Bajaj  ct 100           0.180000
Bajaj Discover 125      0.175000
Name: Selling_Price, Length: 98, dtype: float64

# 11. What is the range of years in the dataset (min and max Year)?

In [294]:
# Year range
print(f"\n11. Year range: min {df['Year'].min()}, max {df['Year'].max()}")

# Finds the earliest and latest years in the data.
# df['Year'].min(), df['Year'].max()

11. Year range: min 2003, max 2018

# 12. What is the average Selling_Price grouped by Year?

In [297]:
# Average Selling_Price by Year
print("\n12. Avg Selling_Price by Year:")
print(df.groupby('Year')['Selling_Price'].mean())

# Groups by year and calculates the mean selling price.
# df.groupby('Year')['Selling_Price'].mean()

12. Avg Selling_Price by Year:
Year
2003    1.300000
2004    1.500000
2005    2.487500
2006    1.437500
2007    0.160000
2008    1.002857
2009    2.816667
2010    5.262667
2011    2.375263
2012    3.841304
2013    3.540909
2014    4.762105
2015    5.927049
2016    5.213200
2017    6.209143
2018    9.250000
Name: Selling_Price, dtype: float64

# 13. What is the most common number of owners (from the Owner column)?

In [300]:
# Most common owner number
print(f"\n13. Most common number of owners: {df['Owner'].mode()[0]}")

# Finds the most common owner count.
# df['Owner'].mode()[0]

13. Most common number of owners: 0

# 14. What is the average number of kilometers driven (Kms_Driven)?

In [303]:
# Average Kms_Driven
print(f"\n14. Average Kms_Driven: {df['Kms_Driven'].mean():.2f}")

# Gets the average of Kms_Driven column.
# df['Kms_Driven'].mean()

14. Average Kms_Driven: 36947.21

# 15. Which car has the highest Present_Price?

In [306]:
# Car with highest Present_Price
idx_max = df['Present_Price'].idxmax()
print("\n15. Car with highest Present_Price:")
print(df.loc[idx_max])  

# .idxmax() gives index of max value; .loc[] fetches that row.
# df.loc[df['Present_Price'].idxmax()]

15. Car with highest Present_Price:
Car_Name         land cruiser
Year                     2010
Selling_Price            35.0
Present_Price            92.6
Kms_Driven              78000
Fuel_Type              Diesel
Seller_Type            Dealer
Transmission           Manual
Owner                       0
Name: 86, dtype: object

# 16. What is the correlation between Selling_Price, Present_Price, and Kms_Driven?

In [309]:
# Correlation
print("\n16. Correlation between Selling_Price, Present_Price, Kms_Driven:")
print(df[['Selling_Price', 'Present_Price', 'Kms_Driven']].corr())

# .corr() calculates Pearson correlation.
# df[['Selling_Price', 'Present_Price', 'Kms_Driven']].corr()

16. Correlation between Selling_Price, Present_Price, Kms_Driven:
               Selling_Price  Present_Price  Kms_Driven
Selling_Price       1.000000       0.878983    0.029187
Present_Price       0.878983       1.000000    0.203647
Kms_Driven          0.029187       0.203647    1.000000

# 17. Which Seller_Type has the highest average Selling_Price?

In [312]:
# Seller_Type with highest average Selling_Price
print("\n17. Seller_Type with highest average Selling_Price:")
print(df.groupby('Seller_Type')['Selling_Price'].mean().idxmax())

# Gets the group with the highest average selling price.
# df.groupby('Seller_Type')['Selling_Price'].mean().idxmax()

17. Seller_Type with highest average Selling_Price:
Dealer

# 18. How many cars are there of each Fuel_Type?

In [315]:
# Count by Fuel_Type
print("\n18. Number of cars by Fuel_Type:")
print(df['Fuel_Type'].value_counts())

# Counts the number of entries for each fuel type.
# df['Fuel_Type'].value_counts()

18. Number of cars by Fuel_Type:
Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64

# 19. How many cars have more than one previous owner?

In [318]:
# Cars with >1 owner
print(f"\n19. Cars with more than one previous owner: {(df['Owner']>1).sum()}")

# Filters where Owner > 1 and counts them.
# (df['Owner'] > 1).sum()

19. Cars with more than one previous owner: 1

# 20. What are the top 5 most expensive cars in the dataset?

In [321]:
# Top 5 most expensive cars
print("\n20. Top 5 most expensive cars:")
print(df.nlargest(5, 'Selling_Price')[['Car_Name','Selling_Price']])

# Gets top 5 rows with highest selling price.
# df.nlargest(5, 'Selling_Price')[['Car_Name','Selling_Price']]

20. Top 5 most expensive cars:
        Car_Name  Selling_Price
86  land cruiser           35.0
64      fortuner           33.0
63      fortuner           23.5
51      fortuner           23.0
82        innova           23.0

# 21. What is the average difference between Present_Price and Selling_Price?

In [324]:
# Average difference Present_Price - Selling_Price
diff = (df['Present_Price'] - df['Selling_Price']).mean()
print(f"\n21. Average difference between Present and Selling Price: {diff:.2f}")

# Subtracts and finds mean difference.
# (df['Present_Price'] - df['Selling_Price']).mean()

21. Average difference between Present and Selling Price: 2.97

# 22. How many cars are being sold by individual sellers vs dealers?

In [327]:
# Individual vs Dealer counts
print("\n22. Count of cars by Seller_Type:")
print(df['Seller_Type'].value_counts())

# Counts records for each seller type.
# df['Seller_Type'].value_counts()

22. Count of cars by Seller_Type:
Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64

# 23. How many cars were manufactured before 2010?

In [330]:
# Cars manufactured before 2010
print(f"\n23. Cars manufactured before 2010: {(df['Year']<2010).sum()}")

# Filters years before 2010 and counts them.
# (df['Year'] < 2010).sum()

23. Cars manufactured before 2010: 26

# 24. Which year has the highest number of car listings?

In [333]:
# Year with most listings
print(f"\n24. Year with highest number of listings: {df['Year'].value_counts().idxmax()}")

# Finds the year with the most entries.
# df['Year'].value_counts().idxmax()

24. Year with highest number of listings: 2015

# 25. What percentage of cars are using diesel vs petrol vs CNG?

In [336]:
# Fuel type percentages
print("\n25. Fuel type percentages:")
print((df['Fuel_Type'].value_counts(normalize=True)*100).round(2))

# normalize=True gives proportion, then multiply by 100.
# df['Fuel_Type'].value_counts(normalize=True) * 100

25. Fuel type percentages:
Fuel_Type
Petrol    79.40
Diesel    19.93
CNG        0.66
Name: proportion, dtype: float64

# 26. What is the highest and lowest Kms_Driven for each fuel type?

In [339]:
# Kms_Driven min and max by fuel
print("\n26. Kms_Driven range by Fuel_Type:")
print(df.groupby('Fuel_Type')['Kms_Driven'].agg(['min','max']))

# Aggregates min and max Kms_Driven per fuel type.
# df.groupby('Fuel_Type')['Kms_Driven'].agg(['min','max'])

26. Kms_Driven range by Fuel_Type:
             min     max
Fuel_Type
CNG        35500   49998
Diesel      2071  197176
Petrol       500  500000

# 27. How many cars were sold with exactly 0 previous owners?

In [342]:
# Cars with exactly 0 owners
print(f"\n27. Cars with exactly 0 previous owners: {(df['Owner'] == 0).sum()}")

# Filters and counts where Owner == 0.
# (df['Owner'] == 0).sum()

27. Cars with exactly 0 previous owners: 290

# 28. How many unique combinations of Fuel_Type, Seller_Type, and Transmission exist?

In [345]:
# Unique combinations of Fuel_Type, Seller_Type, Transmission
print(f"\n28. Unique combinations of Fuel_Type, Seller_Type, Transmission: {df[['Fuel_Type','Seller_Type','Transmission']].drop_duplicates().shape[0]}")

# Drops duplicates and counts unique rows.
# df[['Fuel_Type','Seller_Type','Transmission']].drop_duplicates().shape[0]

28. Unique combinations of Fuel_Type, Seller_Type, Transmission: 8

# 29. What is the average Selling_Price of cars that have more than 2 previous owners?

In [348]:
# Average Selling_Price for cars with >2 owners
print(f"\n29. Average Selling_Price owners > 2 : {df[df['Owner']>2]['Selling_Price'].mean():.2f}")

# Filters cars with Owner > 2 and computes average.
# df[df['Owner'] > 2]['Selling_Price'].mean()

29. Average Selling_Price owners > 2 : 2.50

# 30. Are there any cars where Selling_Price is greater than Present_Price?

In [351]:
# Cars where Selling_Price > Present_Price
print(f"\n30. Cars where Selling_Price > Present_Price: {(df['Selling_Price']>df['Present_Price']).sum()}")

# Checks and counts where selling price exceeds present price.
# (df['Selling_Price'] > df['Present_Price']).sum()

30. Cars where Selling_Price > Present_Price: 0